@using X.PagedList;
@using X.PagedList.Mvc.Bootstrap4.Core;
@using X.PagedList.Mvc.Core;
@model HomeVM

<div class="row pb-3">

	<div>
		@using (Html.BeginForm("Index", "Home", FormMethod.Get))
		{
			@Html.TextBox("search", ViewData["CurrentSearch"] as string)
			@Html.Hidden("nearby", Model.Nearby)
			<input type="submit" value="Search" />
		}
	</div>

	<br />
	<br />

	<div class="row">
		@if(Model.Nearby == false)
		{
			<div class="col-6">
				<a href="@Url.Action("Index", "Home", new { nearby = true, search = ViewData["CurrentSearch"] })" class="btn btn-primary">Show Items Nearby</a>
			</div>
		}
		else
		{
			<div class="h3 text-primary col-6">Items in @Model.City, @Model.Country</div>
			<div class="col-4 text-end">
				<a href="@Url.Action("Index", "Home", new { nearby = false, search = ViewData["CurrentSearch"] })" class="btn btn-secondary">Show All Items</a>
			</div>
		}
	</div>
	
	@if(Model.Items.Count() == 0)
	{
		<h3>No items match the search query!</h3>
	}

	@foreach(var item in Model.Items)
	{
		<div class="col-lg-3 col-sm-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded">
						<img src="@item.ImageUrl" class="card-img-top rounded" style="height:100%;" />
						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@item.Name</p>
								<p class="card-title text-warning text-center">@item.RentTime days</p>
							</div>
						</div>
						<div>
							<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary bg-gradient border-0 form-control">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	}

	@if (Model.Items.Count() != 0)
	{
		@Html.PagedListPager(Model.Items, page => Url.Action("Index", new { page, search = Context.Request.Query["search"], nearby = Context.Request.Query["nearby"] }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
	}
</div>
